In [10]:
#import dependencies

import requests
import pandas as pd
import io
from datetime import date
import numpy as np

#Read CSV
df = pd.read_csv("../Data/totalsGender_global_dataset_2020.csv")


df.head(10)

,yearOfRegistration,gender,meansOfControlTakesEarnings,meansOfControlThreats,meansOfControlPsychologicalAbuse,meansOfControlPhysicalAbuse,meansOfControlSexualAbuse,meansOfControlPsychoactiveSubstances,meansOfControlRestrictsMovement,meansOfControlUsesChildren,meansOfControlThreatOfLawEnforcement,isForcedLabour,isSexualExploit,isOtherExploit,isAbduction,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther
0,2015,Female,66,108,177,133,57,95,116,10,2,0,632,0,0,114,34,61,53
1,2016,Female,104,236,301,281,134,233,212,17,10,0,1216,0,0,215,76,80,85
2,2016,Male,0,0,0,1,0,4,0,0,0,0,11,0,0,0,1,0,0
3,2017,Female,100,294,306,262,114,219,234,17,15,0,1064,0,0,178,52,99,58
4,2018,Female,60,180,233,188,113,155,176,14,5,0,653,0,0,139,40,87,39
5,2018,Male,0,5,10,6,4,3,0,0,0,0,15,0,0,2,1,11,1

In [12]:
df_table = df.to_html(classes="table table-striped")
print(df_table)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>yearOfRegistration</th>
      <th>gender</th>
      <th>meansOfControlTakesEarnings</th>
      <th>meansOfControlThreats</th>
      <th>meansOfControlPsychologicalAbuse</th>
      <th>meansOfControlPhysicalAbuse</th>
      <th>meansOfControlSexualAbuse</th>
      <th>meansOfControlPsychoactiveSubstances</th>
      <th>meansOfControlRestrictsMovement</th>
      <th>meansOfControlUsesChildren</th>
      <th>meansOfControlThreatOfLawEnforcement</th>
      <th>isForcedLabour</th>
      <th>isSexualExploit</th>
      <th>isOtherExploit</th>
      <th>isAbduction</th>
      <th>recruiterRelationIntimatePartner</th>
      <th>recruiterRelationFriend</th>
      <th>recruiterRelationFamily</th>
      <th>recruiterRelationOther</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015</td>
      <td>Female</td>
      <td>66</td>
      <td>108</td>
      <td>177</td>
      <td>133</td>
      <td>57</td>
      <td>95</td>
      <td>116</td>
      <td>10</td>
      <td>2</td>
      <td>0</td>
      <td>632</td>
      <td>0</td>
      <td>0</td>
      <td>114</td>
      <td>34</td>
      <td>61</td>
      <td>53</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016</td>
      <td>Female</td>
      <td>104</td>
      <td>236</td>
      <td>301</td>
      <td>281</td>
      <td>134</td>
      <td>233</td>
      <td>212</td>
      <td>17</td>
      <td>10</td>
      <td>0</td>
      <td>1216</td>
      <td>0</td>
      <td>0</td>
      <td>215</td>
      <td>76</td>
      <td>80</td>
      <td>85</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2016</td>
      <td>Male</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017</td>
      <td>Female</td>
      <td>100</td>
      <td>294</td>
      <td>306</td>
      <td>262</td>
      <td>114</td>
      <td>219</td>
      <td>234</td>
      <td>17</td>
      <td>15</td>
      <td>0</td>
      <td>1064</td>
      <td>0</td>
      <td>0</td>
      <td>178</td>
      <td>52</td>
      <td>99</td>
      <td>58</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018</td>
      <td>Female</td>
      <td>60</td>
      <td>180</td>
      <td>233</td>
      <td>188</td>
      <td>113</td>
      <td>155</td>
      <td>176</td>
      <td>14</td>
      <td>5</td>
      <td>0</td>
      <td>653</td>
      <td>0</td>
      <td>0</td>
      <td>139</td>
      <td>40</td>
      <td>87</td>
      <td>39</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018</td>
      <td>Male</td>
      <td>0</td>
      <td>5</td>
      <td>10</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>11</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

In [9]:
#Filter by country 

#US = df['citizenship'] == "US"
#US_df = df[US]
US_df.head()

,By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
18733,NaN,2015,Hotline,Female,18--20,Adult,Minor,-99,US,-99,...,0,Prostitution,0,Intimate Partner,US,1,0,0,0,0
18734,NaN,2015,Hotline,Female,18--20,Adult,Adult,-99,US,-99,...,0,Prostitution,0,Not Specified,US,-99,-99,-99,-99,1
18735,NaN,2015,Hotline,Female,18--20,Adult,Minor,Minor,US,-99,...,0,Prostitution,0,Friend/Acquaintance,US,0,1,0,0,0
18736,NaN,2015,Hotline,Female,18--20,Adult,-99,Minor,US,-99,...,0,Prostitution,0,Intimate Partner,US,1,0,0,0,0
18737,NaN,2015,Hotline,Female,18--20,Adult,-99,-99,US,-99,...,0,Prostitution,0,Intimate Partner,US,1,0,0,0,0

In [10]:
#Clean dataframe

new_df = US_df[['yearOfRegistration', 'Datasource', 'gender', 'ageBroad', 'majorityStatus', 'majorityStatusAtExploit', 'citizenship', 'meansOfControlTakesEarnings', 'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
            'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse', 'meansOfControlPsychoactiveSubstances', 'meansOfControlRestrictsMovement', 'meansOfControlUsesChildren', 'meansOfControlThreatOfLawEnforcement','isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isAbduction',
            'recruiterRelationIntimatePartner', 'recruiterRelationFriend', 'recruiterRelationFamily', 'recruiterRelationOther']]
new_df.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,citizenship,meansOfControlTakesEarnings,meansOfControlThreats,meansOfControlPsychologicalAbuse,...,meansOfControlUsesChildren,meansOfControlThreatOfLawEnforcement,isForcedLabour,isSexualExploit,isOtherExploit,isAbduction,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther
18733,2015,Hotline,Female,18--20,Adult,Minor,US,-99,-99,-99,...,-99,-99,0,1,0,0,1,0,0,0
18734,2015,Hotline,Female,18--20,Adult,Adult,US,-99,-99,1,...,-99,-99,0,1,0,0,-99,-99,-99,-99
18735,2015,Hotline,Female,18--20,Adult,Minor,US,-99,1,-99,...,-99,-99,0,1,0,0,0,1,0,0
18736,2015,Hotline,Female,18--20,Adult,-99,US,-99,-99,1,...,-99,-99,0,1,0,0,1,0,0,0
18737,2015,Hotline,Female,18--20,Adult,-99,US,-99,1,1,...,-99,-99,0,1,0,0,1,0,0,0

In [12]:
#Create new csv 

#new_df.to_csv ("new_global_dataset_2020.csv")
new_df.to_csv ("Data/new_global_dataset_2020.csv")